.button--blue {
  background: $color-four;
  border: 0;
  color: $color-three;
  text-decoration: none;

  &:hover,
  &:focus {
    background: $color-fourteen;
  }

  &:disabled {
    background: $color-sixteen;
  }
}
