.main-footer__link-company {
  font-size: $font-size-two;
  line-height: $font-line-one;
  font-weight: $font-weight-bold;
  color: $color-one;
}

.main-footer__footer-powered {
  font-size: $font-size-one;
  line-height: $font-line-one;
  font-weight: $font-weight-normal;
  color: $color-one;
}
