.modal__header-text {
  font-size: $font-size-four;
  line-height: $font-line-one;
  font-weight: $font-weight-bold;
}

.modal__text {
  font-size: $font-size-one;
  line-height: $font-line-two;
  font-weight: $font-weight-normal;
}

.modal__button {
  font-size: $font-size-four;
  line-height: $font-line-one;
  font-weight: $font-weight-bold;
}
