.promo-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.promo-list__header {
  font-size: $font-size-four;
  font-weight: $font-weight-bold;
  line-height: $font-line-one;
  color: $color-one;

  @media (min-width: $tablet-width) {
    font-size: $font-size-two;
  }
}

.promo-list__text {
  font-size: $font-size-one;
  font-weight: $font-weight-normal;
  line-height: $font-line-three;
  color: $color-two;
}

.promo-list__item {
  padding: 50px;
}
