.promo-item {
  background: $color-four;
  color: $color-three;
}

.promo-item--dark {
  background: #eeeeee;
  color: $color-one;

  .promo-item__number,
  .promo-item__text {
    color: $color-two;
  }
}

.promo-item__article {
  font-size: $font-size-one;
  font-weight: $font-weight-normal;
  line-height: $font-line-three;
  padding: 47px 52px 57px 53px;
}

.promo-item__header {
  font-size: $font-size-two;
  font-weight: $font-weight-bold;
  line-height: $font-line-one;
  padding: 0;
  margin: 0 0 20px 0;
}

.promo-item__number {
  padding: 0;
  margin: 0 0 20px 0;
}
