.promo-header {
  padding-top: 43px;
  padding-bottom: 52px;
  line-height: $font-line-one;
}

.promo-header__why {
  font-size: $font-size-two;
  font-weight: $font-weight-bold;
  color: $color-one;
  margin: 0 0 43px 0;
}

.promo-header__text {
  font-size: $font-size-one;
  font-weight: $font-weight-normal;
  color: $color-two;
}
